# compiled output
/dist/
/tmp/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintignore
/.eslintrc.js
/.prettierrc.json
/.prettierignore
/.lintstagedrc
/.gitignore
/.travis.yml
/.watchmanconfig
/translations
/config/crowdin.js
/CONTRIBUTING.md
/node-tests/
/yarn.lock
.gitkeep
/.idea
